/*tophead*/
.tophead {
  background-color: #49688e;
}

.ul-tophead {
  list-style: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.li-tophead {
  display: inline;
  margin-left: 15px;
}

#btn {
  margin-left: 350px;
}

#marquee {
  color: tomato;
  font-weight: bold;
}

/*navbar*/

.navbar {
  background-color: #49688e;
  padding: 0px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #ffc107;
}

.nav-link {
  color: white;
  font-family: Verdana;
}

.nav-item {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: white;
}

.dropdown-item {
  font-family: Verdana;
}

/*Konten*/
.card-body {
  background-color:thistle;
  padding-bottom:10px;
}

.card-title {
  color:#49688e;
}

.card-link {
  text-decoration: none;
  color:#49688e;
}

/*Top footer*/
#top-footer {
  background-color: #49688e;
  color: white;
  padding-top: 15px;
  border-top: 10px;
  margin-top: 10px;
}

/*footer*/
.footer {
  background-color: #294a70;
}

.ul-footer {
  list-style: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}

.ul-footer li {
  color: white;
  display: inline;
  text-align: center;
  padding: 0px;
}
